<<<<<<< HEAD
extends layout.pug

block content
    .container
        h1.pageTitle Create Post
        
        form.form(action="/create" method="POST")            
            label Note Title
            input.input(type="text" name="imgtitle")
            label Description 
            textarea.input(type="text" name="imgdescription")

            button.btn Create

        if error
            p.error Something went wrong!

        if success 
=======
extends layout.pug

block content
    .container
        h1.pageTitle Create Post
        
        form.form(action="/create" method="POST")            
            label Image Title
            input.input(type="text" name="imgtitle")
            label Description 
            textarea.input(type="text" name="imgdescription")

            button.btn Create

        if error
            p.error Something went wrong!

        if success 
>>>>>>> 9543049b6a274ef062107ca4fd09a387db6d8a47
            p.success Note is created!