<<<<<<< HEAD
extends layout.pug

block content 
    .container 
        h1.imgtitle #{ post.imgtitle }
        p.imgdescription #{ post.imgdescription }
=======
extends layout.pug

block content 
    .container 
        h1.imgtitle #{ post.imgtitle }
        p.imgdescription #{ post.imgdescription }
>>>>>>> 9543049b6a274ef062107ca4fd09a387db6d8a47
        