<<<<<<< HEAD
extends layout.pug

block content
    .container
        .intro
            h1.pageTitle Rookie - Your favourite note-taking app
            a.create-btn(href='/create') Create Note
=======
extends layout.pug

block content
    .container
        .intro
            h1.pageTitle Rookie - Your favourite note-taking app
            a.create-btn(href='/create') Create Note
>>>>>>> 9543049b6a274ef062107ca4fd09a387db6d8a47
