<<<<<<< HEAD
doctype html
html(lang="en")
    head
        title Notes App
        link(rel='stylesheet' href='/static/styles/style.css')

    body
        header.navbar 
            h1
                a(href='/')
                    img.header-logo(src="/static/images/logo-rookie.png" alt="")
                    h4 Rookie
            
            nav.nav     
                a.navlink(href='/posts') All Notes 
                a.navlink(href='/archive') Archive
                
        block content
                
                     
=======
doctype html
html(lang="en")
    head
        title Notes App
        link(rel='stylesheet' href='/static/styles/style.css')

    body
        header.navbar 
            h1
                a(href='/')
                    img.header-logo(src="/static/images/logo-rookie.png" alt="")
                    h4 Rookie
            
            nav.nav     
                a.navlink(href='/posts') All Notes 
                a.navlink(href='/archive') Archive
                
        block content
                
                     
>>>>>>> 9543049b6a274ef062107ca4fd09a387db6d8a47
