doctype html
html(lang="en")
    head
        title Notes App
        link(rel='stylesheet' href='/static/styles/style.css')

    body
        header.navbar 
            h1
                a(href='/')
                    img.header-logo(src="/static/images/logo-rookie.png" alt="")
                    h4 Rookie
            
            nav.nav     
                a.navlink(href='/posts') All Notes 
                
        block content
                
                     