extends layout.pug 

block content 
    h1.pageTitle All Posts
    .container

        each post in posts
            .post-wrapper 
                a.post(href=`/posts/${ post.id }`) #{ post.imgtitle }
                a.delete(href=`/${ post.id }/delete`) delete