*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
}

body{
    background-color: rgb(252, 241, 241);
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.navbar{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    display: flex;
    align-items: center;
}
.header-logo{
    width: 100%;
    max-width: 80px;
    margin-right: 15px;
}
.navbar a h4{
    color: rgb(0, 0, 0);
    font-family: fantasy; 
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}
.nav{
    display:flex;
}
.navlink{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #000;
    padding: 5px 10px;
    margin: 5px 10px;
    position: relative;
}
.navlink::after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    bottom: 0;
    background-color: #000;
    position: absolute;
    transition: all 0.3s linear;
}
.navlink:hover::after{
    width: 80%;
}
.intro{
    margin: 0;
    text-align: center;
}
.home-title{
    font-size: 36px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.create-btn{
    margin-top: 20px;
    border-radius: 7px;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    background-color: rgb(62, 112, 204);
    transition: all 0.2s linear;
}
.create-btn:hover{
    background-color: rgb(32, 80, 168);
}
.card-gallery{
    display: flex;
    margin: 30px 0;
}
.card-img{
    margin-right: 10px;
    border-radius: 25px;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 500px;
    overflow: hidden;
    background-color: rgb(107, 0, 0);
}
.card-img img{
    width: inherit;
    transition: opacity 0.2s linear;
}
.card-img .info{
    color: #fff;
    position: absolute;
    top: 240px;
    left: 85px;
    z-index: 2;
    opacity: 0;
    text-align: center;
    transition: opacity 0.2s linear;
}
.card-img:hover img{
    opacity: 0.3;
}
.card-img:hover .info{
    opacity: 1;
}
